<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package implements a parser for
        the useful subset of the Wavefront OBJ mesh format.
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Hand-written recovering parser: Fully parse all files, accumulating errors along the way.</li>
        <li>Well tested (99% automated test coverage).</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
